html {
  height: 100%;
  width: 100%;
}

body {
  background-color: brown;
}
table {
    width: 100%;
    border-collapse: collapse; /* Remove espaços entre as bordas */
}
th, td {
    border: 2px solid black; /* Adiciona bordas às células */
    padding: 8px; /* Adiciona espaçamento interno às células */
    text-align: center;
}
th {
    background-color: red; /* Cor de fundo para o cabeçalho */
    color: yellow; /* Cor do texto no cabeçalho */
}

p{
    color: rgb(255, 255, 255);
}

a{
    color: rgb(255, 255, 255);
}

li{
    color: rgb(255, 255, 255);
}

body, html {
    margin: 0;
    padding: 0;
}

a{
  color: blanchedalmond;
}
#receitas {
  background-color: #a36217;
  border: 2px solidrgb(243, 243, 176)c;
  padding: 20px;
  }

  footer{
  background-color: #a36217;
  padding: 40px;
  }

  .titulo{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: cursive;
  }